@import "tailwindcss";

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(400%);
  }
}

@theme {
  /* Fonts */
  --font-sans:
    "Open Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --text-xl: 1.5rem;
  --text-xl--line-height: 2rem;
  --text-xl--font-weight: 700;

  --text-lg: 1.125rem;
  --text-lg--line-height: 1.5rem;
  --text-lg--font-weight: 700;

  --text-base: 0.875rem;
  --text-base--line-height: 1.125rem;
  --text-base--font-weight: 600;

  --text-sm: 0.75rem;
  --text-sm--line-height: 1rem;
  --text-sm--font-weight: 400;

  --text-xs: 0.625rem;
  --text-xs--line-height: 0.875rem;
  --text-xs--font-weight: 400;

  /* Colors */
  --color-blue-base: #2c46b1;
  --color-blue-dark: #2c4091;
  --color-white: #ffffff;
  --color-gray-100: #f9f9fb;
  --color-gray-200: #e4e6ec;
  --color-gray-300: #cdcfd5;
  --color-gray-400: #74798b;
  --color-gray-500: #4d505c;
  --color-gray-600: #1f2025;
  --color-danger: #b12c4d;
}
